body {
  background-color: black;
  color: white;
  font-family: 'Monaco';
  text-align: center;

  margin: 0;
  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: none;
}

.container {
  padding: 50px 10px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.welcome span {
  font-size: 5rem;
  padding: 0 10px;
}

.welcome img {
  width: 150px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@font-face {
  src: url(./monaco.ttf) format('truetype');
  font-family: 'Monaco';
}

.pixelated {
  background: white;
  color: black;
  text-decoration: none;

  font-size: 40px;
  padding: 40px 20px;
  margin: 10px auto;
  width: 90%;
  max-width: 500px;
  top: 0;

  display: block;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;

  user-select: none;
  transition: top 200ms ease;
}

.pixelated:active {
  top: 2px;
}

.pixelated::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: white;
  z-index: -1;
}

.pixelated::after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: white;
  z-index: -1;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
